@model IEnumerable<DiplomaDataModel.Models.Choice>
   

@{
    ViewBag.Title = "Choices ~ Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<label for="yearterms">YearTerms</label>
<select id="yearterms">
    @foreach (var year in ViewBag.yearTerms)
    {
        <option @if (year.IsDefault) { @Html.AttributeEncode("selected") } value="@year.YearTermId">
            @year.Year &nbsp; @year.Term
        </option>
    }
</select>

<label for="charttypes">ChartTypes</label>
<select id="charttypes">
    <option selected>Details Report</option>
    <option>Chart</option>
</select>
<br />
<script>
    var visibleId;
    $(document).ready(function () {
        visibleId = $('#yearterms').find(":selected").val();
        ytfirst = visibleId;
        ytsecond = visibleId;
        ytthird = visibleId;
        ytfourth = visibleId;
    });
    $('#yearterms').change(function (data) {
        $('.tr').addClass('hide');
        var c = $('#yearterms').find(":selected").val();
        $('.' + c).removeClass('hide');
        ytfirst = c;
        ytsecond = c;
        ytthird = c;
        ytfourth = c;
        if (!data_success) {
            alert("Data is not ready yet to display chart");
            return;
        }
        d1(); d2(); d3(); d4();
    });

    $('#charttypes').change(function (data) {
        $('#charts, #reports').toggleClass('hide');
        var c = $('#charttypes').find(":selected").val();
        if (c == 'Chart')
        {
            if (!data_success) {
                alert("Data is not ready yet to display chart");
                return;
            }
            d1(); d2(); d3(); d4();
        }
    });
</script>
<br />
<style> .border-right { border-right: solid } .border-bottom { border-bottom: solid } text[text-anchor="end"] { display:none }</style>
<div id="charts" class="hide row">
    <div class="">
        <div class="col-md-6 border-right border-bottom">
            <div id="choices-1" style="min-width: 310px; height: 400px; max-width:600px; margin: 0 auto"></div>
        </div>
        <div class="col-md-6 border-bottom">
            <div id="choices-2" style="min-width: 310px; height: 400px; max-width:600px; margin: 0 auto"></div>
        </div>  
    </div>
    <br />
    <div class="">
        <div class="col-md-6 text-center border-right">
            <div id="choices-3" style="min-width: 310px; height: 400px; max-width:600px; margin: 0 auto"></div>
        </div>
        <div class="col-md-6 text-center">
            <div id="choices-4" style="min-width: 310px; height: 400px; max-width:600px; margin: 0 auto"></div>
        </div>
    </div>                        
</div>

<style>
    .highcharts-button {
        display: none
    }
</style>
<table class="table table-striped table-hover addrowafter" id="reports">
    <tr>
        <th>Student Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>First Choice</th>
        <th>Second Choice</th>
        <th>Third Choice</th>
        <th>Fourth Choice</th>
        <th>Year Term</th>
        <th></th>
    </tr>
</table>
<script>
    var optionsStrings;
    var first = new Object(), second = new Object(), third = new Object(), fourth = new Object();
    var ytfirst, ytsecond, ytthird, ytfourth;
    var data_success = false;

    $(document).ready(function () {
        jQuery.support.cors = true;
        $.ajax({
            url: "http://a2api.adamslatertech.com/api/Choices/GetAllChoices"
        }).done(function (data) {
            var num = data.numYearTerms;
            var yeartermData = new Object();
            optionsStrings = data.options;

            $.each(data, function (i, item) {
                if ($.isNumeric(i) && i > 0 && i <= num) // year terms
                    yeartermData[i] = item;
            });

            $.each(yeartermData, function (yeartermID, obj) {
                first[yeartermID]  = obj["first"];
                second[yeartermID] = obj["second"];
                third[yeartermID]  = obj["third"];
                fourth[yeartermID] = obj["fourth"];
            });
            data_success = true;
        });

        $.get("http://a2api.adamslatertech.com/getallchoicesfortable", function (data) {
            var d = data["data"];
            d = $.parseJSON(d);
            var options = $.parseJSON(data["options"]);
            var options_id = $.parseJSON(data["options-id"]);
            var terms = $.parseJSON(data["yearterms-term"]);
            var years = $.parseJSON(data["yearterms-year"]);
            var yt_id = $.parseJSON(data["yearterms-id"]);
            var yt_nm = new Object();
            var op_nm = new Object();
            $.each(options, function (i, v) { op_nm[options_id[i]] = options[i]; });
            $.each(yt_id, function (i, v) { var x = terms[i]; var n; if (x == 10) n = "Winter "; if (x == 20) n = "Spring/Summer "; if (x == 30) n = "Fall "; yt_nm[v] = n + years[i] });
            $.each(d, function (index, value) {
                var edit = '"/Choices/Edit/' + value["ChoiceId"] + '"';
                var detail = '"/Choices/Details/' + value["ChoiceId"] + '"';
                var deletes = '"/Choices/Delete/' + value["ChoiceId"] + '"';
                $(".addrowafter").append("<tr class='tr " + value["YearTermId"] + "'><td>" + value["StudentId"] + "</td><td>" + value["StudentFirstName"] + "</td><td>" + value["StudentLastName"] +
                                         "</td><td>" + op_nm[value["FirstChoiceOptionId"]] + "</td><td>" + op_nm[value["SecondChoiceOptionId"]] +
                                         "</td><td>" + op_nm[value["ThirdChoiceOptionId"]] + "</td><td>" + op_nm[value["FourthChoiceOptionId"]] +
                                         "</td><td>" + yt_nm[value["YearTermId"]]   + "</td><td>" +
                                         "<div class='btn-group' role='group'>" +
                                         "<button class='btn btn-default' type='button' onclick='window.location.assign(" + edit + ")'>" +
                                            "<i class='fa fa-pencil-square-o'></i>" +
                                         "</button>" +
                                         "<button class='btn btn-default' type='button' onclick='window.location.assign(" + detail + ")'>" +
                                            "<i class='fa fa-info-circle'></i>" +
                                         "</button>" +
                                         "<button class='btn btn-default' type='button' onclick='window.location.assign(" + deletes +")'>" +
                                            "<i class='fa fa-trash'></i>" +
                                         "</button></div></td></tr>");
            });
            $('.tr').addClass('hide');
            $('.' + visibleId).removeClass('hide');
        });

        
    });
    function d1() {
        var theData = [];

        for (var i = 0; i < optionsStrings.length; i++)
        {
            var obj = new Object();
            obj.name = optionsStrings[i];
            obj.y = first[ytfirst][i];
            theData.push(obj);
        }
        $('#choices-1').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Choices-1'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: 'Percentage',
                colorByPoint: true,
                data: theData
            }]
        });
    }
    function d2() {
        var theData = [];

        for (var i = 0; i < optionsStrings.length; i++) {
            var obj = new Object();
            obj.name = optionsStrings[i];
            obj.y = second[ytsecond][i];
            theData.push(obj);
        }
        $('#choices-2').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Choices-2'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: 'Percentage',
                colorByPoint: true,
                data: theData
            }]
        });
    }
    function d3() {
        var theData = [];

        for (var i = 0; i < optionsStrings.length; i++) {
            var obj = new Object();
            obj.name = optionsStrings[i];
            obj.y = third[ytthird][i];
            theData.push(obj);
        }
        $('#choices-3').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Choices-3'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: 'Percentage',
                colorByPoint: true,
                data: theData
            }]
        });
    }
    function d4() {
        var theData = [];

        for (var i = 0; i < optionsStrings.length; i++) {
            var obj = new Object();
            obj.name = optionsStrings[i];
            obj.y = fourth[ytfourth][i];
            theData.push(obj);
        }
        $('#choices-4').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Choices-4'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: 'Percentage',
                colorByPoint: true,
                data: theData
            }]
        });
    }
</script>